Week 2 - Ricky/.ipynb_checkpoints/
Week 2 - Luca/.ipynb_checkpoints/
Week1 - Luca/intro.ipynb
Week1 - Luca/Training_notebook.ipynb
Week 3 - Angelos/.ipynb_checkpoints/
Week 3 - Ricky/data/
Week 3 - Ricky/.ipynb_checkpoints/
Week 3 - Angelos/SFPD_data.csv
Week 4 - Angelos/SFPD_data.csv
Week 4 - Angelos/.ipynb_checkpoints/
data/
Week 4 - Ricky/states.xml
Week 4 - Ricky/.ipynb_checkpoints/Week 4 -  Regression, Linear, Multiple, and Logistic.-checkpoint.ipynb
