/*BARPLOT*/
label.select-label {
    text-transform: uppercase;
    padding: 1em 0 1.5em;
    font-size: 75%;
    letter-spacing: 1px;
    font-weight: 700;
    width: 300px;
    text-align: left;
    margin: 0 auto;
    color: #c0c6c4;
}

#treeBarplot {
    font-family: 'Raleway', Arial, sans-serif;
    padding: 20px;
}

#treeBarplot svg {
    padding-left: 50px;
    padding-bottom: 430px;
    padding-top: 5px;
    margin: 10px 10px 10px 10px;
}

.userInputBarplot {
    color: #800000;
    font-weight: bold;
    font-style: italic;
}

#treeBarplot .bar {
    fill: lightgreen;
}

#treeBarplot .bar:hover {
    fill: green;
}

#treeBarplot .axis path,
#treeBarplot .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
#treeBarplot .axis text {
    font-family: sans-serif;
    font-size: 11px !important;
    font-weight: normal;
}

#treeBarplot .barTitle {
    font-size: 15px;
    font-weight: bold;
}

#treeBarplot .barTip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

#treeBarplot .barTip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

#treeBarplot .barTip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/*CLUSTERING*/
#clustering {
    font-family: 'Raleway', Arial, sans-serif;
    padding: 20px;
}

#clustering .points {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 1px;
}

div.tooltip { 
    position: absolute;     
    text-align: left;     
    width: 240px;          
    height: 40px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

#clustering h1 {
    font-size: 26px;
    font-weight: bold;
}

.randomClusteringButton {
    display: inline-block;
    margin: 20px;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
    0px 3px rgba(128,128,128,1), /* gradient effects */
    0px 4px rgba(118,118,118,1),
    0px 5px rgba(108,108,108,1),
    0px 6px rgba(98,98,98,1),
    0px 7px rgba(88,88,88,1),
    0px 8px rgba(78,78,78,1),
    0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.randomClusteringButton span {
    background-color: #E8E8E8;
    
    background-image: 
    /* gloss gradient */
    -webkit-gradient(
        linear, 
        left bottom, 
        left top, 
        color-stop(50%,rgba(255,255,255,0)), 
        color-stop(50%,rgba(255,255,255,0.3)), 
        color-stop(100%,rgba(255,255,255,0.2))),

    /* dark outside gradient */
    -webkit-gradient(
        linear, 
        left top, 
        right top, 
        color-stop(0%,rgba(210,210,210,0.3)), 
        color-stop(20%,rgba(210,210,210,0)), 
        color-stop(80%,rgba(210,210,210,0)), 
        color-stop(100%,rgba(210,210,210,0.3))),

    /* light inner gradient */
    -webkit-gradient(
        linear, 
        left top, 
        right top, 
        color-stop(0%,rgba(255,255,255,0)), 
        color-stop(20%,rgba(255,255,255,0.5)), 
        color-stop(80%,rgba(255,255,255,0.5)), 
        color-stop(100%,rgba(255,255,255,0))),        

    /* diagonal line pattern */
    -webkit-gradient(
        linear, 
        0% 100%, 
        100% 0%, 
        color-stop(0%,rgba(255,255,255,0)), 
        color-stop(40%,rgba(255,255,255,0)), 
        color-stop(40%,#D2D2D1), 
        color-stop(60%,#D2D2D1), 
        color-stop(60%,rgba(255,255,255,0)), 
        color-stop(100%,rgba(255,255,255,0)));
    
    -webkit-box-shadow:
    0px -1px #fff, /* top highlight */
    0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.randomClusteringButton span:hover {
    color: #AEBF3B;
    text-shadow: 0px -1px #97A63A;
    cursor: pointer;
}

.randomClusteringButton:active {
    -webkit-box-shadow: 
    0px 3px rgba(128,128,128,1),
    0px 4px rgba(118,118,118,1),
    0px 5px rgba(108,108,108,1),
    0px 6px rgba(98,98,98,1),
    0px 7px rgba(88,88,88,1),
    0px 8px rgba(78,78,78,1),
    0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
}

.randomClusteringButton:active span{
    -webkit-transform: translate(0, 5px); /* depth of randomClusteringButton press */
}

#clustering #slider {
    margin: 10px;
    width: 400px;
}

#clustering .sliderInfo {
    font-size: 24px;
}

#clustering .centroids {
    stroke: black;
    stroke-width: 5;
    opacity: 0.8;
}